<!--<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#" style="text-transform:uppercase;">mostate ps</a>
  <!--<div id="navbar">
    <div class="pull-xs-right">
      <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search...">
    </div>
  </div>- ->
</nav>-->
<div class="container" style="">
  <div class="row header">
    <div class="branding">
      <a href="http://parrot.social"><img class="emoji" draggable="false" alt="Parrot Social" src="./images/parrot-emoji.png"></a>
    </div>
    <div class="submit-link">
      <ul class="nav nav-pills" style="font-size:1rem;">
        <li class="nav-item">
          <a class="nav-link" [attr.href]="SUBMISSION_URL">Add Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [attr.href]="FEEDBACK_URL">Feedback</a>
        </li>
      </ul>
    </div>
    <div class="search-bar"
        [class.search-open]="searchOpen"
        [class.search-applied]="isSearchApplied">
      <span (click)="cancelSearch()" class="cancel-search">✖️</span>
      <span (click)="openSearch()" class="search-btn">🔎 <span class="chevron"></span></span>
    </div>
  </div>
  <ps-sponsor-search class="search-options row"
      [class.search-open]="searchOpen"
      [sponsorsByID]="sponsors"
      [eventDays]="eventDays"
      [allEvents]="allEvents"
      (change)="changeSearch($event)"
      (close)="searchOpen = false"
      (cancel)="cancelSearch()">
  </ps-sponsor-search>
  <div *ngFor="let eventDay of eventDays"
      class="event-day"
      [class.is-today]="eventDay.isToday">
    <div class="row text-center">
      <h2 (click)="toggleEventDayEvents(eventDay)"
          class="event-day-expand-toggle"
          [class.expand-open]="eventDay.__detailsOpen">
        {{ createDayTitle(eventDay.date) }}
      </h2>
    </div>
    <div *ngFor="let event of eventDay.events; let first = first">
      <div class="event-divider" *ngIf="!first"></div>
      <ps-event-detail
          [event]="event"
          [sponsor]="sponsors[event.sponsorID]"
          [isOpen]="event.__detailOpen"
          (toggleOpen)="event.__detailOpen = $event">
      </ps-event-detail>
    </div>
  </div>
  <div class="footer row">
    <div class="col-xs-12">
      <strong>Make mostate social work for you</strong>
      <ul>
        <li>
          Add your events and meeting times with <a [attr.href]="SUBMISSION_URL">the event submission form</a>!
        </li>
        <li>
          Make mostate social better with <em>your ideas</em> with <a [attr.href]="FEEDBACK_URL">the feedback submission form</a>!
        </li>
      </ul>
    </div>
    <div class="col-xs-12 fold" [class.fold-open]="aboutOpen">
      <div class="footer-divider">
        <a href="javascript:void(0)" (click)="aboutOpen = !aboutOpen">about</a>
      </div>
      <div class="fold-contents">
        <div>
          This software is provided to you by the talent of <a href="http://parrot.social">Parrot Social</a>. If you are interested in what we do, please consider contacting us and getting involved with our efforts to make events and clubs more accessible to students.
          Email us at <a href="mailto:info@parrot.social">info@parrot.social</a> to start a conversation!
        </div>
        <div style="margin-top:.5rem;">
          <small style="color:darkgray">
            <strong>Notice, </strong>
            events.mostate.social, and all subdomains of .mostate.social are not currently associated with the institution of Missouri State University.<br>
            These softwares are developed by students of Missouri State University, but are not built with the assistance or involvement of any member of Missouri State University faculty or coursework.
          </small>
        </div>
      </div>
  </div>
</div>

<!-- events
  "sponsors": {
    "Alpha Kappa Lambda": {
      "id": "Alpha Kappa Lambda (AKL)",
      "name": "Alpha Kappa Lambda",
      "nickname": "AKL"
    },
 "events": [
    {
      "sponsor": "Alpha Kappa Lambda (AKL)",
      "description": "Meet and Greet",
      "startTime": 1472511600000,
      "endTime": 1472518800000,
      "location": "Alpha Kappa Lambda House",
      "locationAddress": "1043 East Cherry Street",
      "meetTime": null,
      "meetLocation": "",
      "meetLocationAddress": ""
    }
    {
      "sponsor": "Alpha Kappa Lambda",
      "description": "Meet and Greet",
      "startTime": 1472511600000,
      "endTime": 1472518800000,
      "location": "Alpha Kappa Lambda House",
      "locationAddress": "1043 East Cherry Street",
      "meetTime": null,
      "meetLocation": "",
      "meetLocationAddress": ""
    },-->
