<!--<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#" style="text-transform:uppercase;">mostate vodka</a>
  <!--<div id="navbar">
    <div class="pull-xs-right">
      <input type="text" [(ngModel)]="search" class="form-control" placeholder="Search...">
    </div>
  </div>- ->
</nav>-->
<div class="container" style="">
  <div class="row header">
    <div class="branding">
      <a href="http://parrot.social"><img class="emoji" draggable="false" alt="Parrot Social" src="./images/parrot-emoji.png"></a>
    </div>
    <div class="search-bar"
        [class.search-open]="searchOpen"
        [class.search-applied]="isSearchApplied">
      <span (click)="cancelSearch()" class="cancel-search">✖️</span>
      <span (click)="openSearch()" class="search-btn">🔎 <span class="chevron"></span></span>
    </div>
  </div>
  <vodka-sponsor-search class="search-options row"
      [class.search-open]="searchOpen"
      [sponsorsByName]="sponsors"
      [eventDays]="eventDays"
      (change)="changeSearch($event)"
      (close)="searchOpen = false"
      (cancel)="cancelSearch()">
  </vodka-sponsor-search>
  <div *ngFor="let eventDay of eventDays"
      class="event-day"
      [class.is-today]="eventDay.isToday">
    <div class="row text-center">
      <h2>{{ createDayTitle(eventDay.date) }}</h2>
    </div>
    <div *ngFor="let event of eventDay.events; let first = first">
      <div class="event-divider" *ngIf="!first"></div>
      <vodka-event-detail
          [event]="event"
          [sponsor]="sponsors[event.sponsor]"
          [isOpen]="selectedEvent === event"
          (click)="selectedEvent = event">
      </vodka-event-detail>
    </div>
  </div>
  <div class="footer row">
    <div class="col-md-4"></div>
    <div class="col-md-4">Don't see an event on here? Submit your event to
      <a href="mailto:submit@parrot.social">submit@parrot.social</a>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>

<!-- events
  "sponsors": {
    "Alpha Kappa Lambda": {
      "name": "Alpha Kappa Lambda",
      "letters": "ΑΚΛ",
      "nickname": "AKL",
      "twitter": "@AKLBetaPsiMSU",
      "colors": null
    },
 "events": [
    {
      "sponsor": "Alpha Kappa Lambda",
      "description": "Meet and Greet",
      "startTime": 1472511600000,
      "endTime": 1472518800000,
      "location": "Alpha Kappa Lambda House",
      "locationAddress": "1043 East Cherry Street",
      "meetTime": null,
      "meetLocation": "",
      "meetLocationAddress": ""
    }
    {
      "sponsor": "Alpha Kappa Lambda",
      "description": "Meet and Greet",
      "startTime": 1472511600000,
      "endTime": 1472518800000,
      "location": "Alpha Kappa Lambda House",
      "locationAddress": "1043 East Cherry Street",
      "meetTime": null,
      "meetLocation": "",
      "meetLocationAddress": ""
    },-->
