/*Missing bootstrap styles*/
.tag {
display: inline-block;
padding: .25em .4em;
font-size: 75%;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
}
.tag-info {
background-color: #5bc0de;
}
.tag-default {
background-color: white;
color: black;
}
button, input[type="button"] {
  background-color: rgb(221, 221, 221);
}
